<p id="notice"><%= notice %></p>

<h1>
  <%= @employee.name %>
</h1>

<p>
  <strong>Email:</strong>
  <%= mail_to @employee.email %>
</p>

<p>
  <strong>Room:</strong>
  <%= link_to @employee.room.name, @employee.room %>
</p>

<p>
  <strong>Department:</strong>
  <%= link_to @employee.department.name, @employee.department %>
</p>

<p>
  <strong>Employee's research groups:</strong>
  <ul>
  <% unless @employee.research_groups.empty? %>
    <% for group in @employee.research_groups  %>
        <li><%= link_to group.name, group %></li>
    <% end %>
  <% else %>
        <li>No groups.</li>
  <% end %>
  </ul>

  <% unless @employee.research_groups.empty? %>
  <strong>of which</strong>
  <ul>
        <li>the group with least members is <%= link_to @employee.research_group_with_least_members.name, @employee.research_group_with_least_members %>.</li>
        <li>the group with most members is <%= link_to @employee.research_group_with_most_members.name, @employee.research_group_with_most_members %>.</li>
  </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) if currently_signed_in? %>