<p id="notice"><%= notice %></p>

<h1>
  <%= @employee.name %>
</h1>

<p>
  <strong>Email:</strong>
  <%= mail_to @employee.email %>
</p>

<p>
  <strong>Room:</strong>
  <%= link_to @employee.room.name, @employee.room %>
</p>

<p>
  <strong>Department:</strong>
  <%= link_to @employee.department.name, @employee.department %>
</p>

<p>
  <strong>Research groups:</strong>
  <ul>
  <% if not @employee.research_groups.empty? %>
    <% for group in @employee.research_groups  %>
        <li><%= link_to group.name, group %></li>
    <% end %>
  <% else %>
        <li>No groups.</li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %>