<p id="notice"><%= notice %></p>

<h1>
  <%= @department.name %>
</h1>

<p>
  Part of <%= link_to @department.faculty.name, @department.faculty %>
</p>

<p>
  <strong>Employees:</strong>
<ul>
  <% if not @department.employees.empty? %>
      <% for employee in @department.employees  %>
          <li><%= link_to employee.name, employee %></li>
      <% end %>
  <% else %>
      <li>No employees.</li>
  <% end %>
</ul>
</p>

<%= link_to 'Edit', edit_department_path(@department) if currently_signed_in? %>