<h1>Listing rooms</h1>

<p id="alert"><%= alert %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= link_to room.name, room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) if currently_signed_in? %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } if currently_signed_in? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path if currently_signed_in? %>